@use "variables" as *;

@mixin largeScreens {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin infoBox_base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: $border-radius;
  min-height: 4rem;

  border: 1px solid var(--surface-border);
  box-shadow: var(--surface-shadow);
}

@mixin buttonBase {
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  background-color: $button-color;
  color: $text-color;
  font-weight: bold;
  border-radius: $border-radius;
  padding: 0.5rem;
  margin: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $button-color--hover;
  }

  &:active {
    transform: scale(0.95); // Leichtes "Eindrücken" beim Klick
  }
}

@mixin invisbleScrollbars {
  //Scrollbar ausblenden aber verwendbar lassen:
  /* Für Firefox */
  scrollbar-width: none;

  /* Für Internet Explorer / Edge (legacy) */
  -ms-overflow-style: none;

  /* Für Chrome, Safari und Opera */
  .horizontal-list::-webkit-scrollbar {
    display: none;
  }
}

@mixin backgroundImageBase {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28)),
    var(--detail-condition-image);
  background-size: cover;
  background-position: center;
}
