@use "fontFaces" as *;

$border-radius: 6px;
$app-background-color: rgb(75, 74, 74);
$listItem-background-color: black;
$text-color: whiteSmoke;
$text-font: "Inter", sans-serif;
$text-shadow: 1px 1px 5px #000;
$button-color: transparent;
$button-color--hover: rgb(0, 132, 255);
$largeScreens--max-Heigth: 900px;
$delete-color: rgba(255, 0, 0, 0.744);
$main-padding: 0 1rem;
