@use "variables" as *;
@use "mixins" as *;

.detailHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: $text-shadow;

  &__top {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 4rem;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__backButton,
  &__favoriteButton {
    @include buttonBase;
    &.is-favorite {
      visibility: hidden;
    }
  }

  &__location {
    font-size: 3rem;
    margin: 0.3rem;
  }

  &__temperature {
    font-size: 4rem;
    margin: 0.3rem;
    &::after {
      content: "°C";
    }
  }

  &__Condition {
    font-size: 2rem;
    margin: 0.2rem;
  }

  &__dayTemperatures {
    display: flex;
    justify-content: space-between;
    margin-top: 0.1rem;
    gap: 5rem;
  }

  &__maxTemperature {
    font-size: 1.5rem;
    margin-right: 0.5rem;

    &::before {
      content: "H:";
    }
    &::after {
      content: "°C";
    }
  }

  &__minTemperature {
    font-size: 1.5rem;
    &::before {
      content: "T:";
    }

    &::after {
      content: "°C";
    }
  }
}
